#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


body{
  animation: 10s linear infinite cambiar-fondo;
}

@keyframes cambiar-fondo{
  20%{
    background-color: green;
  }

  50%{
    background-color: gray;
  }
  75%{
    background-color: red;
  }
  100%{
    background-color: yellowgreen;
  }
}

.title{
  border-radius: 10px;
  background-color: white;
  font-family: open sans;
  font-weight: bold;
  animation: 20s ease-in infinite texto;
}

@keyframes texto{
  20%{
    color: gray;
  }

  50%{
   color: rgb(22, 37, 173) ;
  }
  75%{
    color: red;
  }
  100%{
    color: yellowgreen;
  }
}